{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container" style="text-align: center;">
            <h1>FooBar</h1>
        </div>
    </div>
{% endblock %}
