{% macro form_wrapper(name, form) -%}
    <form class="form-horizontal" method="POST" id="{{ name }}">
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    Please correct the following errors.
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {{ form.csrf_token }}
        <fieldset class="container-fluid">
            {{ caller() }}
        </fieldset>
    </form>
{% endmacro %}

{% macro form(name, form, submit_text='Submit', additions=[]) -%}
    {% call form_wrapper(name, form) %}
        {{ fields(form) }}
        {{ buttons(submit_text, additions) }}
    {% endcall %}
{% endmacro %}

{% macro fields(form) -%}
    {% for field in form if field.id != 'csrf_token' %}
        <div class="row">
            <div class="col-sm-12 form-group">
                {{ field.label(class_="col-sm-3 control-label") }}
                <div class="col-sm-9">
                    {{ field(class_="form-control", autocomplete="off", required="") }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro buttons(submit_text='Submit', additions=[]) -%}
    <div class="row">
        <div class="col-sm-12 form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-success" value="{{ submit_text }}"/>
                {% for addition in additions %}
                    <a href="{{ addition[1] }}" class="btn btn-default btn-sm">{{ addition[0] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}