{% extends "layout.html" %}
{% import 'widgets/form.html' as form_widget %}

{% block title %}
    Password Recovery
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-10">
            {% if check_your_email == True %}
                <div class="alert alert-success">
                    Cool. Now go check your email!
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Password Recovery</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_widget.form('forgot_form', forgot_form, submit_text='Send Recovery Instructions') }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
