{% extends "layout.html" %}

{% block title %}
    User List
{% endblock %}

{% block content %}
    {% for user in users %}
        <div id="user_{{ user.id }}">
            {{ user.id }}
            <b><a href="{{ url_for('users.users_detail', user_id=user.id) }}">{{ user.username }}</a></b>
            {% if enabled_actions %}
                <form></form>
            {% endif %}
            <br/>
        </div>
    {% endfor %}

    <div style="text-align: center;">
        {% if page_number == 1 %}Prev{% else %}
            <a href="{{ url_for('users.users_list', page_number=page_number - 1) }}">Prev</a>{% endif %}
        / Page <b>{{ page_number }}</b> /
        {% if last_page %}Next{% else %}
            <a href="{{ url_for('users.users_list', page_number=page_number + 1) }}">Next</a>{% endif %}
    </div>
{% endblock %}
